.projects-container {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  margin: 1rem;
}


.project-names {
  display: flex;
  justify-content: center;
  color: #555;
  font-size: 0.9rem;
}

.project-locations {
  display: flex;
  justify-content: center;
  color: #555;
  font-size: 0.9rem;
}

.project-working-days{
  display: flex;
  justify-content: end;
  color: #555;
  font-size: 0.9rem;
}



.row-month {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.add-project-btn {
  padding: 0.5rem 1.25rem;
  background-color: #007acc;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.2s ease, transform 0.1s ease;
}
.add-project-btn-wrapper{
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically */
  flex-shrink: 0;
}

.add-project-btn:hover {
  background-color: #005fa3;
  transform: translateY(-1px);
}

.top-row-btn-con{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
}