/* ProjectCon.css */
.month-select-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;  
  font-size: 2rem;

}

.year-select-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 2rem;
}

.month-year-select-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}