.month-count-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.month-count-btn button {
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #eee;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.month-count-btn button.active {
  background-color: #444;
  color: #fff;
}
  